.drag-n-drop{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#proyectos{
    width: 100%;
}

.descripcion-proyecto{
    text-align: center;
}

.descripcion-proyecto>h2{
    margin: 0px;
    padding: 0px;
}